@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf")
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.header {
    border: 3px solid maroon;
}

.welcome {
    border: 3px solid yellow;
}

.app-demo {
    border: 3px orangered;
}

.features {
    border: 3px solid rgb(0, 87, 145);
}

.types {
    border: 3px solid magenta;
}

.operation {
    border: 3px solid rgb(0, 128, 32);
}

.pros {
    border: 3px solid blue;
}

.survey {
    border: 3px solid rgb(80, 107, 6);
}

.footer {
    /* border: 3px solid rgb(85, 5, 109); */
    background-color: #111827;
    color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;

    /* max-width: 100%; */
    padding-left: 10px;
    /* overflow-x: hidden; */
}

.main-footer {
    /* border: 3px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer-left {
    /* border: 3px solid purple; */
    padding-right: 25px;
    padding-top: 25px;
    margin-right: 60px;
}

.logo {
    /* border: 3px solid yellow; */
    display: flex;
    margin: 0;
}
.logo img {
    /* border: 2px solid red; */
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
.logo p {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    margin-left: -5px;
    color: #1ab65c;
}
.footer-text {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    padding-left: 20px;
}
.footer i {
    color: white;
    background-color: #16a34a;
    width: 15px;
    height: 15px;
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100%;
    transition: transform 0.05s ease;
}
.footer i:hover {
    background-color: #07c958;
    cursor: pointer;
    transform: scale(1.05);
}

.footer-right {
    /* border: 3px solid red; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 90px;

    /* padding: 10px; */
    /* margin-left: 15px; */
}

.right-card {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
    flex-wrap: wrap;
    width: 100px;
    margin-left: 20px;
}

.heading {
    /* border: 3px solid orange; */
    min-height: 90px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.links {
    /* border: 3px solid salmon; */
    display: flex;
    flex-direction: column;
}

.links a {
    /* border: 2px solid magenta; */
    max-height: 60px;
    font-weight: 200;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: transform 0.05s ease;
}
.links a:hover {
    color: #06f369;
    cursor: pointer;
    transform: scale(1.05);
}
hr {
    width: 80%;
    height: 1px;
    border: none;
    background-color: rgba(245, 245, 245, 0.2);
}
.sub-footer {
    /* border: 3px solid rgb(41, 139, 38); */
    text-align: center;
    font-weight: lighter;
    font-size: 14px;

    padding: 50px 20px 20px;
    max-width: 100%;
}

